.content {
    display: flex;
    width: 40%;
    flex-direction: column;

    > .fieldGroup {
        display: flex;
        height: 50px;
        width: 100%;

        > .input {
            width: 100%;
            padding: 0 10px;
            border: 1px solid darken($primary, 60%);
        }

        > .search {
            width: 150px;
            background: darken($primary, 20%);
            color: white;
            font-weight: bold;
            border: 1px solid darken($primary, 60%);
            border-left: 0;
            cursor: pointer;
            transition: all .2s ease-in-out;

            &:disabled {
                background: #f2f2f2;
                cursor: default;
                color: #aaa;
                transition: all .2s ease-in-out;

                &:hover {
                    background: #f2f2f2;
                }
            }

            &:hover {
                background: darken($primary, 30%);
            }
        }
    }

    &.hasError {
        > .fieldGroup {
            .input, .search {
                border-color: red;
            }
        }

        > .error {
            color: red;
            font-size: 13px;
            margin-top: 3px;
        }
    }

    > .result {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        font-size: 18px;
        align-items: center;

        > .copy {
            cursor: pointer;
            background: darken($primary, 20%);
            padding: 5px 10px;
            border: 1px solid darken($primary, 60%);
            color: white;
            font-size: 15px;
            margin-left: 10px;

            &:hover {
                background: darken($primary, 30%);
            }
        }
    }
}